.root {
  padding: 30px 0 24px 0;

  .tips {
    margin: 24px 0 0 0;
    padding: 0 24px 12px 24px;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-color-second);
    border-bottom: 1px solid #ebeef5;
  }

}