.root {
  .action {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    padding: 0 24px;

    & > button {
      margin-left: 20px;
    }
  }

  .balanceArea {
    display: flex;
    flex-direction: column;
    .balance {
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      color: var(--text-color-primary);
    }
    .amount {
      font-size: 16px;
      line-height: 19px;
      color: var(--text-color-second);
    }
  }
}