.root {
  background: #fafafa;
  overflow: visible;
}

.main {
  padding: 24px;
  background: var(--color-white);
  border-radius: 12px;

  .inputLeft {
    margin-right: 24px;
  }

  .inputRight {
    margin-left: 24px;
  }

  .extra {
    font-weight: bold;
  }

  .addon {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-color-second);

    > p {
      margin-right: 24px;
    }
  }

}

.swapInfoRoot {
  margin: 20px 24px;

  .info, p {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 16px;
    color: var(--text-color-primary);
    line-height: 19px;

    > span {
      margin: 0 8px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}



.swapRoute {
  display: flex;
  align-items: center;

  img {
    max-width: 24px;
    height: 24px;
    margin: 0 8px;
  }

  svg {
    margin: 0 8px;
  }
}