@import './styles/index.scss';

.page {
  box-sizing: border-box;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: overlay;
  padding: 0 40px;
  padding-bottom: 64px;
  background: $platform-background-color;
}

.pageTitle, .subTitle {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #333333;
}

.pageTitle {
  margin: 32px 0 24px 0;
}

.pageContent {
  max-width: 1120px;
  margin-top: 16px;
}
