.root {
  padding-top: 24px;

  .listItem {
    border: none;
    padding: 10px 24px;
  }

  .action {
    padding: 24px;
    display: flex;
    margin-top: 24px;
    justify-content: flex-end;

    & > button {
      margin-left: 20px;
    }
  }
}