.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .currentRedeem {
    display: flex;
    align-items: center;

    > button {
      margin-left: 16px;
    }
  }
}