.root {

  .notice {
    font-size: 16px;
    line-height: 19px;
    color: var(--text-color-second);
  }

  .txBtn {
    margin: 0 auto;
    min-width: 250px !important;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
  }

  .listItem {
    padding-left: 0;
    padding-right: 0;

    & :global(.aca-list--label) {
      color: var(--text-color-second);
    }
  }
}