@import "../../../../ui-components/src/styles/index.scss";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  min-width: 240px;
  max-width: 240px;
  height: 100vh;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 20px 20px 0 rgba(13,28,90,0.09);

  @include media-breakpoint-up('md') {
    min-width: 68px;
    max-width: 68px;
  }
}

.logo {
  margin: 94px auto 44px auto;
  text-align: center;

  @include media-breakpoint-up('md') {
    width: 68px;
    height: 68px;
    margin: 0;
  }
}

.testNetFlag {
  position: absolute;
  top: 130px;
  right: 36px;
  font-size: 12px;
  color: var(--color-primary);

  @include media-breakpoint-up('md') {
    position: relative;
    top: 0;
    right: 0;
    margin: 12px 0;
    text-align: center;
  }
}

.item {
  position: relative;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  padding-left: 21px;
  height: 58px;
  font-size: $font-s;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-primary);
  transition: all 200ms ease;

  & > svg {
    margin-right: 13px;
  }

  &:hover {
    transform: translate3d(2px, 0, 0);
  }

  &:global(.active) {
    transform: translate3d(0, 0, 0);
  }

  &:hover, &:global(.active) {
    background-image: linear-gradient(90deg, #E5EAFF 0%, #F5F6FA 100%);
  }

  &:global(.active)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: var(--color-primary);
  }

  @include link(var(--color-primary), var(--color-primary), var(--color-primary), var(--color-primary));

  @include media-breakpoint-up('md') {
    .title {
      display: none;
    }
  }
}

.wallet {
  color: #abb4d1;

  .title {
    width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-primary);
  }
}

.products {
  flex: 1;
}

.social {
  display: flex;
  padding: 0 24px;;

  & .item {
    margin-right: 12px;
    padding: 0;
    width: 24px;
    height: 24px;

    &:hover {
      transform: scale(1.1);
      background: none;
    }
  }

  & svg {
    margin: 0;
  }

  @include media-breakpoint-up('md') {
    display: none;
  }
}

.status {
  margin: 24px 24px 65px 24px;
}